
.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  /* background-color: blueviolet; */
  box-sizing: border-box;
  box-shadow: 0px 0px 5px rgb(31 31 31 / 25%);
  padding: 15px;
  background-color: var(--bg);
  color: var(--text);
}
.header-logo h5{
  font-size: 24px;
}
.header-link{
  display: flex;
}
.icon-link .link{
  color: black;
}
.link:hover{
  color: #0073e6;
}
.header-link .link{   
  text-decoration: none;
  font-size: 13px;
  letter-spacing: 0.5px;
  /* transition: 0.5s; */
  margin: 0 25px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #0073e6;
}
.hovering-box{
  width: 27px;
  height: 30px;
  overflow: hidden;
  padding: 1px 2px;
  border-radius: 50%;
  /* margin-bottom: 5px; */
}
.hovering{
  width: 29px;
  height: 29px;
  display: flex;
  transition: 0.5s;
  margin-bottom: 0px;
}
.link:hover .hovering{
  transform: translateX(-89%);
}
.icon-link{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 0px;
  transition: all 0.5s;
  margin: 0 10px;
}

.link::after{
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  top: 9%;
  position: absolute;
  transition: 0.5s;
  /* background: #0073e6; */
  background-color: #0073e6;
}
.link:hover:after{
  width: 4%;
  height: 2.5px;
}
.header-btn button{
  border: solid thin grey;
  padding: 8px 10px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
}


.responsive{
  display: none;
  visibility: hidden;
  opacity: 0;
  width: 3%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.5s linear;
}
.bar{
  transition: 0.5s;
  width: 50%;
  margin: 2px;
  height: 3px;
  background-color: black;
}
.responsive:hover{
  cursor: pointer;
}
.responsive:hover .bar1 , .bar:hover .bar1{
  transform: translateY(8px) rotate(45deg);
}
.responsive:hover .bar2{
  display: none;
}
.responsive:hover .bar3 , .bar:hover .bar3{
  transform: translateY(1px) rotate(-45deg);
}

.mode-icon button{
  position: relative;
  border: solid thin rgb(226, 222, 222);
  padding: 5px;
  align-items: center;
  display: flex;
  border-radius: 25px;
  color: var();
}
.mode-icon button{
  cursor: pointer;
}

@media screen and (max-width:750px){
  .header{
      padding: 10px 2px;
  }
  .header-logo h5{
    font-size: 18px;
  }
  .header-link{
      width: 55%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      height: -webkit-fill-available;
      z-index: 999;
  }
  .header-link .link{
      margin: unset;
      font-size: 7px;
  }
  .link::after{
      display: none;
  }
  .responsive{
      width: 16%;
  }
  .icon-link{
      margin: 15px 10px;
  }
  .toogle-button{
      display: none;
      visibility: hidden;
      opacity: 0;
  }
  .header{
    top: 90vh;
    height: 10vh;
    left: 0;
    background-color: white;
    width: 100%;
    z-index: 999;
    position: sticky;
  }
}