.contactinfooter{
    padding: 40px 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: auto;
    background-color: #a3c9eb8a;
    margin-top: 3rem;
}
.contactinfooter h4{
    font-size: 26px;
    letter-spacing: 0.4px;
}
.contactinfooter button{
    position: relative;
    box-sizing: border-box;
    padding: 13px 25px;
    border-radius: 25px;
    border: none;
    font-size: 20px;
    background-color: #0073e6;
    color: white;
    transition: 0.5s;
}
.contactinfooter button:hover{
    padding-right: 45px;
    padding-left: 30px;
    cursor: pointer;
    z-index: 999;
    color: white;
}
.contactinfooter button::after{
    content: "\f124";
    font: var(--fa-font-solid);
    position: absolute;
    top: 1rem;
    right: -20%;
    /* transition: 0.8s linear; */
    opacity: 0;
    transition: 0.5s;
    z-index: -1;
}
.contactinfooter button:hover::after{
    opacity: 1;
    z-index: 999;
    right: 10%;
}
.contactinfooter h4{
    width: 30%;
    margin: auto;
}
.contactinfooter .linkbutton{
    width: 10%;
    margin: auto;
}
/* .contactinfooter button::before{
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    top: 0;
    left: -100%;
    z-index: -1;
    transition: 0.5s;
} */
/* .contactinfooter button::before {
    content: " ";
    position: absolute;
    background-color: #2e53da;
    width: 100%;
    top: 0;
    right: -100%;
    height: 10px;
    border-radius: 30px;
    height: 100%;
    width: 100%;
    transition: 0.4s linear;
    z-index: -1;
    opacity: 0;
}
.contactinfooter button:hover::before{
    right: 0%;
    opacity: 1;
} */
@media screen and (max-width:500px){
    .contactinfooter h4{
        width: unset;
        /* margin: auto; */
    }
    .contactinfooter .linkbutton{
        width: unset;
        margin: auto;
    }
}

/* CONTACT PAGE STYLING  */
.contact{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: auto;
    padding: 2rem;
    margin-top: 1rem;
}
.contact-image{
    position: relative;
    width: 45%;
    height: 100%;
}
.contact-image img{
    width: 100%;
    height: 100%;
}
.contact-form{
    box-sizing: border-box;
    border-radius: 8%;
    background-color: #ede8e8d4;
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 2rem 0.5rem;
}
.contact-form h4{
    font-size: 50px;
}
.contact-form span{
    font-weight: bold;
    /* color: #0073e6; */
    /* font-size: 16px; */
    margin-bottom: 5px;
}
.contact-form input , textarea{
    border: solid thin rgb(210, 208, 208);
    font-weight: bold;
    font-size: 20px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    /* border: none; */
    /* margin-left: 10px; */
}
.input{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}


@media screen and (max-width:500px){
    .contact{
        display: unset;
        padding: unset;
    }
    .contact .contact-image{
        width: 80%;
        margin: 2rem auto 0;
    }
    .contact .contact-form{
        width: 100%;
        margin: 1rem auto;
    }
    .contact-form .input{
        width: 90%;
        margin: auto;
    }
}

@media screen and (min-width:501px) and (max-width:1000px){
    .contact{
        display: unset;
        padding: unset;
    }
    .contact .contact-image{
        width: 80%;
        margin: 2rem auto 0;
    }
    .contact .contact-form{
        width: 90%;
        margin: 1rem auto;
    }
    .contact-form .input{
        width: 90%;
        margin: auto;
    }
}

@media screen and (min-width:801px) and (max-width:1025px){
    .contact .contact-form{
        width: 90%;
    }
}
